<h1>More about Dogscooters Buer</h1>
<p>Hi I'm Sebastian, the owner of Dogscooters Buer. We are an international team of dogscooter ethusiasts, based in Buer. We, that's me and my two and a half year old dog, Oskar. Oskar was born in the streets of patras, greece. He is not only my best and sole employer, but also my buddy. If you have thought up to now, that hauling dogs would always be huskies, you would be wrong. Don't believing me! Visit us and see Oskar running in front of the scooter. </p>
<p></p>
