<h1>Contact</h1>
<h3>You find us:</h3>
<ul>
	<li>Dogscooters</li>
	<li>Scooteravenue</li>
	<li>Buer</li>
</ul>
<h3>Questions or suggestions? Call or leave us a message: </h3>
<ul>
	<li>Phone: 2123584</li>
	<li>E-mail: bikesforberlin@gmail.com</li>
</ul>
