<div class="container-fluid">
	<div class="row panel panel-default thankyou-title">		
		<div class="col-xs-6 col-xs-offset-3 panel-body"> 
			<p>
			Thank you. We have received your message and will respond as soon as possible.
			</p>
    		<%=link_to("Home",root_path) %>
		</div>
	</div>
</div>


  
    
 